@{
    Layout = null;
}
<html>



<head>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background: #555;
        }

        canvas {
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
        }

        .centered {
        }
    </style>
</head>
<body>
    
<script type="text/javascript" src="~/Scripts/pixi.min.js"></script>
<script type="text/javascript" src="~/Scripts/game/app.js"></script>
<script type="text/javascript" src="~/Scripts/game/board.js"></script>
<script type="text/javascript" src="~/Scripts/game/players.js"></script>
<script type="text/javascript" src="~/Scripts/game/playerDeck.js"></script>
<script type="text/javascript">
    const game = new Game().init();
</script>
</body>

</html>